dist/*
build/*
node_modules/*
__tests__
setupTests.ts
src/index.ts
.eslintrc.js
.stylelintrc.js
babel.config.js
postcss.config.js
tsconfig.json
**/*.css
**/*.scss
**/*.less
**/*.module.css
**/*.module.scss
**/*.module.less
file-resolver-protocol.ts
__unconfig_vite.config.ts
