dist/*
build/*
node_modules/*
__tests__
playground/assets
playground/auto-imports.d.ts
.eslintrc.js
.stylelintrc.js
babel.config.js
src/setupTests.ts
postcss.config.js
tsconfig.json
**/*.css
**/*.scss
**/*.less
**/*.module.css
**/*.module.scss
**/*.module.less
